################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sports_store_emails
/sports_store_emails
